
<div class="row mt-4 mb-5">
  <div class="card mb-4">
  <div class="card-body">
    <form action="/notes/all" method="GET"><table>
        <thead>
          <tr>
          <th>Title</th>
          <th><a href="/notes/new" class="btn btn-secondary">Add new note</a></th>
          </tr>
          </thead>
        <tbody>
        <%Note.forEach( function( data){ %> 
          
          <tr>
            <td><%= data.title %></td>
            <td><a href="/notes/edit/<%= data._id %>" class="fixed" data-q_id=data._id><i class="fas fa-edit"></i></a></td>
            <td><a href="/notes/delete/<%= data._id %>" class="fixed" data-q_id=data._id>X</a></td>
          </tr>
          <tr>
            <td><p><i><%= data.description %></i></p></td>
          </tr>
        
        <% }); %>
        </tbody>
        </table>
    </form>

  
</form>


