<h1 class="mt-4">Your safe notes</h1>
<p class="lead mb-3">Welcome <%= user.login%></p>
<p class="lead mb-3">What do you want to do? </p>
<a href="/notes/all" class="btn btn-secondary">Read my notes</a>
<a href="/notes/new" class="btn btn-secondary">Add new note</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

