<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.login%></p>
<a href="/notes/new" class="btn btn-secondary">Add new note</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

